body .main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
    width: 100vw;
    font-family: "SF Pro Display", sans-serif;
}

.leaderboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 80%;
    width: 80%;
    background-color: #f5f5f5;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

table {
    border-collapse: collapse;
    margin: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

th {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #240046;
    color: white;
}

th:nth-child(1) {
    border-radius: 10px 0 0 0;
}

th:nth-child(3) {
    border-radius: 0 10px 0 0;
}

td {
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
}

td:nth-child(even) {
    width: 50%;
}

tr:nth-child(even) {
    background-color: #ececec;
}

tr:nth-child(1) {
    background-color: #DAA520;
}

tr:nth-child(2) {
    background-color: #C0C0C0;
}

tr:nth-child(3) {
    background-color: #CD7F32;
}